@import "../variables";

.comment__wrapper {
  width: 88%;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 85%;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 80%;
    margin: 0 auto;
  }
}

.comment__visitor-comment {
  margin-top: 10px;
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.comment__chapter {
  margin: 0;
  border: none;
  padding: 0;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 648px;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
  }

  &--name {
    @media (min-width: @tablet-width) {
      width: 267px;
      padding-left: 60px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 119px;
    }
  }

  &--impressions {
    order: -1;

    @media (min-width: @tablet-width) {
      width: 324px;
    }

    @media (min-width: @desktop-width) {
      width: 440px;
    }
  }

  &--visited {
    @media (min-width: @tablet-width) {
      width: 395px;
    }

    @media (min-width: @desktop-width) {
      width: 960px;
    }
  }
}

.comment__chapter--impressions .comment__legend {
  text-align: left;
  padding-left: 24px;

  @media (min-width: @tablet-width) {
    padding-left: 2px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 79px;
  }
}

.comment__chapter--name .comment__legend {
  text-align: left;
  padding-left: 71px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 3px;
  }
}

.comment__comment-title {
  margin: 0;
  font-family: "PT Sans bold", "Arial", sans-serif;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 37px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin-top: 74px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 111px;
  }
}

.comment__comment-description {
  margin: 0 auto;
  width: 276px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    width: 439px;
    margin-bottom: 49px;
    margin-top: 32px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 36px;
    margin-top: 30px;
  }
}

.comment__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comment__legend {
  font-family: "PT Sans bold", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 24px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin-bottom: 57px;
  }

  &--landmarks {
    padding-top: 19px;

    @media (min-width: @tablet-width) {
      padding-top: 31px;
      width: 202px;
      padding-left: 4px;
      margin-bottom: 47px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 45px;
    }
  }

  &--emotions {
    padding-top: 6px;
    margin-bottom: 17px;

    @media (min-width: @tablet-width) {
      padding-top: 23px;
      margin-bottom: 57px;
    }
  }

  &--contacts {
    @media (min-width: @tablet-width) {
      padding-top: 34px;
      margin-bottom: 24px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 74px;
    }
  }
}

.comment__item label {
  padding-right: 17px;
  text-transform: uppercase;
  font-size: 14px;
  color: #333333;
  flex-shrink: 0;

  @media (min-width: @desktop-width) {
    padding-right: 5px;
  }
}

.comment__item input {
  background-color: #f2f2f2;
  height: 58px;
  padding-left: 17px;
  box-sizing: border-box;
  outline: none;
  overflow: auto;
  border: solid 4px #f2f2f2;

  @media (max-width: @mobile-width-only) {
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    flex-grow: 1;
    padding-left: 17px;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: @white-text;
    border: solid 4px #e5e5e5;
  }
}

.comment__item {
  position: relative;

  &--phone input {
    margin-bottom: 12px;

    @media (min-width: @tablet-width) {
      margin-bottom: 23px;
      padding-left: 19px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
      padding-left: 16px;
    }
  }

  &--phone,
  &--email {
    @media (min-width: @desktop-width) {
      display: flex;
      align-items: center;
    }
  }

  &--personal {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @media (min-width: @tablet-width) {
      width: 266px;
    }

    @media (min-width: @desktop-width) {
      width: 394px;
    }
  }

  &--email input {
    @media (min-width: @tablet-width) {
      padding-left: 19px;
    }
  }

  &--personal label {
    padding-right: 17px;
  }

  &--phone label {
    display: inline-block;
    margin: 0;
    margin-left: 23px;
    margin-bottom: 6px;

    @media (min-width: @tablet-width) {
      margin-left: 23px;
      margin-bottom: 5px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 0;
      margin-bottom: 0;
      padding-right: 18px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 58px;
      height: 58px;
      background-color: #e6e6e6;
      background-position: 50% 50%;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      top: 32px;
      right: 0;

      @media (min-width: @tablet-width) {
        top: 33px;
        left: 593px;
      }

      @media (min-width: @desktop-width) {
        left: 342px;
        top: 0;
      }
    }
  }

  &--email label {
    display: inline-block;
    margin: 0;
    margin-left: 22px;
    margin-bottom: 6px;

    @media (min-width: @tablet-width) {
      margin-left: 24px;
      margin-right: 10px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 78px;
      margin-right: 13px;
      margin-bottom: 0;
    }

    &::after {
      position: absolute;
      content: "";
      width: 58px;
      height: 58px;
      background-color: #e6e6e6;
      background-position: 50% 50%;
      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      top: 32px;
      right: 0;

      @media (min-width: @tablet-width) {
        top: 34px;
        left: 592px;
      }

      @media (min-width: @desktop-width) {
        left: 500px;
        top: 0;
      }
    }
  }
}

.comment__item textarea {
  padding: 13px 25px 20px 17px;
  outline: none;
  background-color: #f2f2f2;
  border: solid 4px #f2f2f2;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: @white-text;
    border: solid 4px #e5e5e5;
  }

  @media (min-width: @tablet-width) {
    width: 93%;
    padding: 13px 25px 19px 20px;
  }

  @media (min-width: @desktop-width) {
    width: 95%;
    padding: 11px 21px 20px 17px;
  }
}

.comment__item input::-webkit-input-placeholder {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  font-family: "PT Sans bold", "Arial", sans-serif;
}

.comment__item input::-moz-placeholder {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  font-family: "PT Sans bold", "Arial", sans-serif;
}

.comment__item input:-moz-placeholder {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  font-family: "PT Sans bold", "Arial", sans-serif;
}

.comment__item input:-ms-input-placeholder {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  font-family: "PT Sans bold", "Arial", sans-serif;
}

.comment__item textarea::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  font-family: "PT Sans bold", "Arial", sans-serif;
}

.comment__item textarea::-moz-placeholder {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  font-family: "PT Sans bold", "Arial", sans-serif;
}

.comment__item textarea:-moz-placeholder {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  font-family: "PT Sans bold", "Arial", sans-serif;
}

.comment__item textarea:-ms-input-placeholder {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  font-family: "PT Sans bold", "Arial", sans-serif;
}

.comment__input-checkbox + label {
  position: relative;
  display: block;
  font-family: "PT Sans bold", "Arial", sans-serif;
  margin-left: 79px;
  font-size: 18px;
  text-transform: none;
  margin-right: 0;
  margin-bottom: 54px;

  @media (min-width: @tablet-width) {
    width: 163px;
    margin-bottom: 61px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
  }

  &::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    top: -13px;
    left: -78px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
}

.comment__input-checkbox:focus + label {
  &::before {
    outline: #000000 dotted 1px;
  }
}

.comment__input-radio:focus + label {
  &::before {
    outline: #000000 dotted 1px;
  }
}

.comment__input-checkbox:checked + label {
  &::before {
    content: "";
    position: absolute;
    top: -12px;
    left: -78px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.comment__input-checkbox:checked + label,
.comment__input-checkbox + label {
  &:hover {
    &::before {
      background-color: #e5e5e5;
    }
  }

  &:active {
    &::before {
      background-color: #d5d5d5;
    }
  }
}

.comment__input-radio + label {
  position: relative;
  display: block;
  font-family: "PT Sans bold", "Arial", sans-serif;
  margin-left: 79px;
  font-size: 18px;
  text-transform: none;
  margin-right: 0;
  margin-bottom: 43px;

  @media (min-width: @tablet-width) {
    margin-bottom: 51px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 79px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 54px;
    height: 54px;
    top: -13px;
    left: -77px;
    background-color: #f2f2f2;
    border-radius: 50%;

    @media (min-width: @desktop-width) {
      top: -14px;
      left: -77px;
    }
  }

  &:hover {
    &::before {
      background-color: #e5e5e5;
    }
  }

  &:active {
    &::before {
      background-color: #d5d5d5;
    }
  }
}

.comment__input-radio:checked + label {
  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: -14px;
    left: -77px;
    background-color: #000000;
    border: solid 17px #f2f2f2;
    border-radius: 50%;
  }

  &:hover {
    &::before {
      border-color: #e5e5e5;
      background-color: #000000;
    }
  }

  &:active {
    &::before {
      border-color: #d5d5d5;
      background-color: #333333;
    }
  }
}

.comment__button {
  position: relative;
  font-size: 21px;
  font-family: "PT Sans bold", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: @skyblue;
  color: @white-text;
  border-style: none;
  padding: 17px 46px;
  width: 100%;
  cursor: pointer;
  margin-top: 44px;
  margin-bottom: 74px;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: #e5e5e5;
    background-color: #5496bd;
  }

  &:disabled {
    background-color: #e5e5e5;
  }

  @media (min-width: @tablet-width) {
    width: 50%;
    padding: 17px 60px;
    padding-left: 51px;
    margin-top: 52px;
    margin-bottom: 61px;
  }

  @media (min-width: @desktop-width) {
    padding: 17px 60px;
    margin-bottom: 63px;
  }
}

.comment__warning {
  position: absolute;
  bottom: 61px;
  right: 1px;
  font-size: 14px;
  color: #333333;
  padding: 0;
  text-transform: uppercase;

  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    bottom: 2px;
    right: 34px;
  }

  @media (min-width: @desktop-width) {
    bottom: 65px;
    right: 0;
  }
}

.comment__item input[type="tel"],
.comment__item input[type="email"] {
  @media (min-width: @tablet-width) {
    width: 600px;
  }

  @media (min-width: @desktop-width) {
    width: 315px;
  }
}

.comment__list--radio {
  padding-top: 18px;
}

.comment__label-phone span {
  padding: 0;
  margin: 0;
  display: inline-block;

  @media (min-width: @desktop-width) {
    display: none;
  }
}
