@import "../variables";

.landmarks {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin-left: 127px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-left: 0;
  }
}
