@import "../variables";

.landmarks {
  margin-top: 10px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    margin-left: 97px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-left: 0;
    justify-content: space-between;
  }
}
