@import "../variables";

.main-nav__list {
  position: relative;
  margin: 0;
  background-color: @white-text;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav__close {
  position: absolute;
  fill: @white-text;
  top: 16px;
  right: 12px;
  background-color: transparent;
  border: none;
  z-index: 1;

  @media (min-width: @tablet-width) {
    display: none;
  }

  .main-nav--closed & {
    display: none;
  }
}
