@import "../variables";

.page-header {
  position: relative;
}

.page-header__image {
  position: relative;
  background-color: @skyblue;
  background-image: url("../img/text-sedona.svg"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 43%, 35% 86%;
  background-size: 229px 39px, auto;
  width: 100%;
  height: 158px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/text-sedona.svg"),
      url("../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    background-color: @skyblue;
    background-image: url("../img/text-sedona.svg"),
      url("../img/bg-back-tablet@1x.jpg");
    background-size: 460px 80px, 100%;
    background-position: 51% 45%, 35% 86%;
    height: 290px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/text-sedona.svg"),
        url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-color: @skyblue;
    background-image: url("../img/text-sedona.svg"),
      url("../img/bg-back-desktop@1x.jpg");
    height: 301px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/text-sedona.svg"),
        url("../img/bg-back-desktop@2x.jpg");
      background-position: 50% 46%, 35% 86%;
    }
  }

  &--main {
    background-image: url("../img/text-sedona-index.svg"),
      url("../img/bg-back-mobile@1x.jpg");
    background-position: 50% 51%, 57% 36%;
    background-size: 281px 214px, auto;
    height: 389px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/text-sedona-index.svg"),
        url("../img/bg-back-mobile@2x.jpg");
    }

    @media (min-width: @tablet-width) {
      background-image: url("../img/text-sedona-index.svg"),
        url("../img/bg-back-tablet@1x.jpg");
      background-size: 460px 350px, 100%;
      background-position: 50% 45%, 50% 50%;
      height: 518px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/text-sedona-index.svg"),
          url("../img/bg-back-tablet@2x.jpg");
      }
    }

    @media (min-width: @desktop-width) {
      background-image: url("../img/text-sedona-index.svg"),
        url("../img/bg-back-desktop@1x.jpg");
      background-position: 50% 47%, 50% 50%;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/text-sedona-index.svg"),
          url("../img/bg-back-desktop@2x.jpg");
      }
    }

    &::before {
      width: 100%;
      height: 37px;
      content: "";
      position: absolute;
      background-image: url("../img/bg-triangle.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      bottom: -239px;

      @media (min-width: @tablet-width) {
        display: none;
      }
    }
  }

  &::after {
    width: 100%;
    height: 26px;
    content: "";
    position: absolute;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    bottom: -1px;

    @media (min-width: @tablet-width) {
      background-image: url("../img/bg-intro-triangle-tablet.svg");
      background-size: 100%;
      height: 57px;
      bottom: -1px;
    }

    @media (min-width: @desktop-width) {
      background-image: url("../img/bg-intro-triangle-desktop.svg");
      width: 1200px;
    }
  }
}

.page-header__toggle-area {
  display: flex;
  justify-content: flex-end;
  margin-right: 4%;
  padding-top: 16px;
  padding-bottom: 11px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__toggle {
  fill: @skyblue;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__logo-image {
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 103px;
  height: 83px;

  @media (min-width: @tablet-width) {
    top: 0;
  }

  @media (min-width: @desktop-width) {
    width: 187px;
    height: 97px;
  }
}
