@import "../variables";

.page-header__image {
  position: relative;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  max-width: 100%;
  height: 389px;
}

.page-header__slogan {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  width: 281px;
  height: 214px;
  background-image: url("../img/text-sedona-index.svg");
  background-repeat: no-repeat;
}

.page-header__slogan-small {
  content: "";
  position: absolute;
  top: 90px;
  left: 188px;
  width: 281px;
  height: 214px;
  background-image: url("../img/text-sedona.svg");
  background-repeat: no-repeat;
}

.page-header__toggle {
  fill: @skyblue;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
