@import "../variables";

.page-main__title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans bold", "Arial", sans-serif;
  width: 255px;
  text-align: center;
  margin: 0 auto;
  margin-top: 43px;
}
