.photo__list {
  list-style: none;
  padding-left: 0;
}

.photo__title {
  font-size: 18px;
  text-transform: uppercase;
}

.photo__description {
  font-size: 14px;
  line-height: 24px;
}

.photo__list-item {
  font-size: 14px;
  line-height: 24px;
}

.photo__name,
.photo__polling {
  font-family: "PT Sans bold", Arial, sans-serif;
  text-transform: uppercase;
}
