@import "../variables";

.reasons__sedona-preview {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  width: 255px;
  text-align: center;
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    width: 490px;
    margin-top: 28px;
    margin-bottom: 50px;
  }
}

.reasons__list {
  list-style: none;
  padding-left: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
}

.reasons__demo {
  @media (min-width: @tablet-width) {
    width: 33%;
    flex-grow: 1;
  }
}

.reasons__item {
  background-color: #e6e6e6;

  @media (min-width: @tablet-width) {
    width: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }

  &--advantages {
    @media (min-width: @tablet-width) {
      width: 100%;
      margin-bottom: 24px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 46px;
    }
  }

  &--city {
    background-color: @skyblue;
    color: @white-text;
    padding-top: 55px;

    @media (min-width: @tablet-width) {
      display: flex;
      width: 100%;
      padding-top: 0;
    }

    @media (min-width: @desktop-width) {
      width: 1200px;
    }
  }

  &--bridge {
    background-color: @skyblue;
    color: @white-text;
    padding-top: 38px;

    @media (min-width: @tablet-width) {
      display: flex;
      width: 100%;
      padding-top: 0;
    }

    @media (min-width: @desktop-width) {
      width: 1200px;
    }
  }

  &--square {
    padding-top: 27px;

    @media (min-width: @tablet-width) {
      width: 33%;
      flex-grow: 1;
      padding-top: 45px;
    }
  }

  &--road {
    padding-top: 15px;

    @media (min-width: @tablet-width) {
      width: 33%;
      flex-grow: 1;
      padding-top: 45px;
    }
  }

  &--few {
    padding-top: 15px;

    @media (min-width: @tablet-width) {
      width: 33%;
      flex-grow: 1;
      padding-top: 45px;
    }
  }
}

.reasons__preview {
  font-size: 18px;
  font-family: "PT Sans bold", "Arial", sans-serif;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 8px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin-bottom: 9px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 70px;
  }

  &--bridge {
    width: 216px;
    display: inline-block;

    @media (min-width: @tablet-width) {
      width: 151px;
    }

    @media (min-width: @desktop-width) {
      padding: 0 30px;
    }
  }
}

.reasons__number,
.reasons__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin-bottom: 22px;
  }
}

.reasons__content {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    width: 137px;
  }

  @media (min-width: @desktop-width) {
    width: 276px;
  }
}

.reasons__item--city .reasons__content {
  width: 273px;

  @media (min-width: @tablet-width) {
    width: 170px;
    padding-bottom: 0;
    padding-top: 45px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 53px;
    width: 80%;
  }
}

.reasons__item--bridge .reasons__content {
  width: 260px;

  @media (min-width: @tablet-width) {
    width: 162px;
    padding-bottom: 0;
    padding-top: 46px;
  }

  @media (min-width: @desktop-width) {
    width: 56%;
    padding-top: 55px;
  }
}

.reasons__item--few .reasons__content {
  padding-bottom: 12px;
  padding-top: 13px;

  @media (min-width: @tablet-width) {
    padding: 0;
    width: 148px;
    margin-bottom: 44px;
  }

  @media (min-width: @desktop-width) {
    width: 75%;
    margin-bottom: 67px;
  }
}

.reasons__item--road .reasons__content {
  padding-bottom: 12px;
  padding-top: 13px;
  border-bottom: solid 1px #d5d5d5;

  @media (min-width: @tablet-width) {
    border-bottom: none;
    padding: 0;
    margin-bottom: 44px;
  }
}

.reasons__item--square .reasons__content {
  padding-bottom: 13px;
  border-bottom: solid 1px #d5d5d5;

  @media (min-width: @tablet-width) {
    width: 159px;
  }

  @media (min-width: @desktop-width) {
    border-bottom: none;
    width: 75%;
  }
}

.reasons__image {
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 67%;
  }
}

.reasons__item--bridge .reasons__image {
  @media (min-width: @desktop-width) {
    height: 256px;
  }

  @media (min-width: @tablet-width) {
    order: -1;
  }
}

.reasons__item--city .reasons__image {
  @media (min-width: @desktop-width) {
    height: 256px;
  }
}

.reasons__image img {
  width: 100%;

  @media (min-width: @tablet-width) {
    display: block;
    height: 100%;
  }
}
