@import "../variables";

.site-list {
  list-style: none;
  padding-left: 0;
}

.site-list__item {
  background-color: @skyblue;
  font-family: "PT Sans bold", Arial, sans-serif;
  box-shadow: inset 0px 1px 0 0 #cccccc;
  text-transform: uppercase;
}

.site-list__link {
  text-decoration: none;
  color: @white-text;
}
