@import "../variables";

.social__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: 156px;
  }
}

.social__item {
  width: 48px;
  height: 46px;
  background-color: @skyblue;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.social__link {
  position: absolute;
  fill: #ffffff;

  &:active {
    fill: #d5d5d5;
  }

  &--twitter {
    padding: 16px 14px;
    padding-top: 12px;
  }

  &--facebook {
    padding: 20px 20px;
    padding-top: 13px;
  }

  &--youtube {
    padding: 10px 14px;
  }
}
