@import "../variables";

.video {
  position: relative;
  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 84%;
  }
  @media (min-width: @desktop-width) {
    width: 67%;
  }
}

.video__title {
  font-family: "PT Sans bold", "Arial", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 11px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.video__description {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 0;
  width: 85%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    width: 54%;
    margin-bottom: 78px;
  }

  @media (min-width: @desktop-width) {
    width: 36%;
    margin-bottom: 78px;
  }
}

.video img {
  width: 100%;
}

.video__control {
  position: relative;
  margin: 0 auto;
  width: 88%;
  background-color: #eaeaea;
  padding: 20px;
  padding-top: 23px;
  padding-left: 25px;
  padding-bottom: 17px;
  margin-bottom: 74px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: -75px;
    left: 0;
    width: 100%;
    padding: 32px 24px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 45px;
    bottom: 66px;
    left: 0;
    background-color: black;
    opacity: 0.6;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.video__scroll {
  position: absolute;
  content: "";
  width: 84%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 87px;
  left: 9%;

  @media (min-width: @tablet-width) {
    width: 60%;
    bottom: 44px;
    left: 101px;
  }

  @media (min-width: @desktop-width) {
    width: 540px;
  }
}

.video__scroll-toggle {
  position: absolute;
  content: "";
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: @white-text;
  top: -4px;
  left: 31px;
}

.video__replay,
.video__subtitles,
.video__fullscreen {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.video__replay {
  fill: #5c6870;

  &:hover {
    fill: #333333;
  }

  &:active {
    fill: rgba(0, 0, 0, 0.2);
  }

  @media (min-width: @tablet-width) {
    fill: @white-text;

    &:hover {
      fill: rgba(255, 255, 255, 0.6);
    }

    &:active {
      fill: rgba(255, 255, 255, 0.2);
    }
  }
}

.video__subtitles {
  margin-left: 55%;
  fill: #5c6870;

  &:hover {
    fill: #333333;
  }

  &:active {
    fill: rgba(0, 0, 0, 0.2);
  }

  @media (min-width: @tablet-width) {
    fill: @white-text;
    margin-left: 85%;

    &:hover {
      fill: rgba(255, 255, 255, 0.6);
    }

    &:active {
      fill: rgba(255, 255, 255, 0.2);
    }
  }

  @media (min-width: @desktop-width) {
    margin-left: 638px;
  }
}

.video__fullscreen {
  margin-left: 11%;
  fill: #5c6870;

  &:hover {
    fill: #333333;
  }

  &:active {
    fill: rgba(0, 0, 0, 0.2);
  }

  @media (min-width: @tablet-width) {
    margin-left: 2%;
    fill: @white-text;

    &:hover {
      fill: rgba(255, 255, 255, 0.6);
    }

    &:active {
      fill: rgba(255, 255, 255, 0.2);
    }
  }
}
