@import "../variables";

.visiting__proposal {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 34px;
  width: 82%;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 57%;
  }

  @media (min-width: @desktop-width) {
    width: 36%;
  }
}

.visiting__title {
  font-family: "PT Sans bold", "Arial", sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  margin: 20px auto;
  margin-top: 28px;
  width: 100%;
  text-align: center;
}

.visiting__button {
  display: block;
  font-size: 21px;
  font-family: "PT Sans bold", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: @skyblue;
  color: @white-text;
  border-style: none;
  padding: 17px 39px;
  width: 87%;
  margin: 0 auto;
  cursor: pointer;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: #e5e5e5;
    background-color: #5496bd;
  }

  &:disabled {
    background-color: #e5e5e5;
  }

  @media (min-width: @tablet-width) {
    width: 60%;
  }

  @media (min-width: @desktop-width) {
    width: 38%;
  }
}

.visiting__search {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.visiting__map {
  margin: 0;
  margin-top: 50px;
}

.visiting__map img {
  width: 100%;
  height: auto;
}
